body{background-color:#ffd19f}

header {
    display: flex;
    justify-content: space-between;
  }
  
  #topButtons{
    margin:auto;
    text-align:center;
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    margin-top: 15px;
    margin-bottom: 20px;
    a{width: 20%;   
      
  
      button{
        background-color:#005326f1;
        color: white;
        border-radius:10px;
        padding: 20px;
      font-size: 155%;
        font-family: 'Times New Roman', Times, serif;
  
  
    }
    #lengthButton{
      background-color:#1fb161e8;
      color: black;
    }
  }
  
  }
  
  #lengthBuyables{
    margin:auto;
    text-align:center;
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
    width: 90%;
    height: 50%;
    button{
      background-color:#9fdeff;
      border-radius:10px;
      width: 40%;
      text-align:center;
      min-height: 150px;
      margin: 10px;
      font-size: 155%;
      font-family: 'Times New Roman', Times, serif;
    }
  }
  #hillsUnlock{
    margin:auto;
    text-align:center;
    width: 70%;
    height: 50%;
    button{
    background-color:#b29fff;
    border-radius:15px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px}
  }