body{background-image: radial-gradient(circle, #352562, #6b1a3a)}

header {
    font-size: 20px;
    text-shadow: 1px 1px 3px darkgray;
    display: flex;
    justify-content: space-between;
    color:white;
  }

#inAndOut{ 
  margin:auto;
  text-align:center;
  display: flex;
  justify-content: center;
  width: 90%;
  height: 50%;
  input{
    background-color:#9fdeff;
    border-radius:10px;
    width: 40%;
    text-align:center;
    min-height: 150px;
    margin: 10px;
    font-size: 155%;
    font-family: 'Times New Roman', Times, serif;}
}
#goodBox{
  background-color:#efefef;
  border-radius:10px;
  width: 40%;
  text-align:center;
  min-height: 20px;
  margin: 10px;
  font-size: 155%;
  font-family: 'Times New Roman', Times, serif;
}
