.top-buttons{
  display:flex;
  justify-content:space-around;
}

header {
  display: flex;
  justify-content: space-between;
}
  #themeReset{
    margin-left: 40px;
    margin-right: 50px;
    margin-bottom: 25px;
    font-size: 13px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .buyableBoxes{
    margin-left: 40px;
    margin-right: 50px;
    margin-bottom: 25px;
    font-size: 13px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  #buy1{
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
   #buy2{
     padding-left: 40px;
     padding-right: 40px;
     padding-top: 20px;
     padding-bottom: 20px;
   }
  #buy3{
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  #buy4{
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  #buy5{
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  #buy6{
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  