.top-buttons{
  display:flex;
  justify-content:space-around;
}

header {
  display: flex;
  justify-content: space-between;
}

#topButtons{
    display: flex;
    justify-content: space-around;
  
  }
  #hillReset{
    margin-left: 40px;
    margin-right: 50px;
    margin-bottom: 25px;
    font-size: 13px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .upgradeBoxes{
    margin-left: 40px;
    margin-right: 50px;
    margin-bottom: 25px;
    font-size: 13px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  #up1{
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
   #up2{
     padding-left: 40px;
     padding-right: 40px;
     padding-top: 20px;
     padding-bottom: 20px;
   }
  #up3{
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  #up4{
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  #up5{
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  